
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model QuizViewModel
<style>
.current {
        display: block;
    }
    .hidden {
        display: none;
    }
</style>
<h1>Quiz: @Model.Tema.Titulo</h1>

<form>
@foreach (var pergunta in Model.Perguntas)
{
    <div class="current">
    <h3>@pergunta.Description</h3>

        @foreach (var resposta in Model.Respostas.Where(r => r.IdPergunta == pergunta.Id))
    {
        <input type="radio" name="@pergunta.Id" value="@resposta.Id" /> @resposta.Description
        <br/>
    }
    </div>
  
}

<button type="submit" action="ScoreFinal">Submit Quiz</button>
</form>
<script>
  
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

